@model IEnumerable<rawEpsilonVms.Models.Volunteer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Center)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availalibity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentLicenses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneSecondary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriversLicense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovalStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Center)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availalibity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLicenses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneSecondary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DriversLicense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
